/*
 *      Fichier de surcharge CSS ~ Customisation
 *         À destination des vues principales
 */

/* PAGE Campagne/{id_campagne} */
/* Style des images après miniaturisation */
.miniaturesImages{
    width: 15vw;
    min-width: 90px;
    height: 15vw;
    min-height: 90px;
    float: left;
    margin: 5px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}

/* GROUPE DE PAGES Administration */
/* Style de la barre d'administration */
#admin_barre {
    background-color: #888;
    color: #FFF;

    border: none;
    border-radius: 0px;

    position: relative;
    bottom: 25px;
}

#admin_barre_texte {
    line-height: 50px;
    padding-left: 15px;
}

#admin_barre_texte a {
    color: #FFF;
    text-decoration: none;
}

/* #admin_menu > .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;

    background-color: red;
}

#admin_menu > .navbar .navbar-collapse {
    text-align: center;
} */